
@{
	ViewBag.Title = "SanPham";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Public/css/SanPham.css" rel="stylesheet" />
<div class="container">
	<h1 class="td-content py-4">Tất cả sản phẩm</h1>
	<div class="row row-cols-1 row-cols-md-6 g-4">
		<div class="col">
			<div class="card text-dark bg-light carousel-inner">
				<img src="~/Public/images/img tea-mi/CHOCOLATE-TOFFEE.png" class="card-img-top size-sp" alt="Chocolate-Toffee">
				<div class="card-body">
					<h5 class="card-title">Chocolate-Toffee</h5>
					<p class="card-text">Giá : 50.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Mango-Milktea.png" class="card-img-top size-sp" alt="MangoMilkte">
				<div class="card-body">
					<h5 class="card-title">MangoMilkte</h5>
					<p class="card-text">Giá : 80.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Okinawa-Milk-Foam-Smoothie.png" class="card-img-top size-sp" alt="Okinawa-Milk-Foam-Smoothie">
				<div class="card-body">
					<h5 class="card-title">Okinawa Milk</h5>
					<p class="card-text">Giá : 60.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Strawberry-milk-tea.png" class="card-img-top size-sp" alt="Strawberry milk tea">
				<div class="card-body">
					<h5 class="card-title">Strawberry milk</h5>
					<p class="card-text">Giá : 70.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/tra-sua-creme-brulee.png" class="card-img-top size-sp" alt="creme brulee">
				<div class="card-body">
					<h5 class="card-title">Creme Brulee</h5>
					<p class="card-text">Giá : 50.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-dark bg-light">
				<img src="~/Public/images/img tea-mi/Tra-Sua-Dao.png" class="card-img-top size-sp" alt="Tra Sua Dao">
				<div class="card-body">
					<h5 class="card-title">Tra Sua Dao</h5>
					<p class="card-text">Giá: 40.000 VND</p>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="container py-4">

	<div class="row">
		<div class="col">
			<ul class="nav justify-content-end">
				<li class="nav-item me-2"><a class="nav-link btn btn-light text-black" href="#">1</a></li>
				<li class="nav-item me-2"><a class="nav-link btn btn-light text-black" href="#">2</a></li>
				<li class="nav-item me-2"><a class="nav-link btn btn-light text-black" href="#">3</a></li>
				<li class="nav-item me-2"><a class="nav-link btn btn-light text-black" href="#">4</a></li>
				<li class="nav-item me-2"><a class="nav-link btn btn-light text-black" href="#">5</a></li>
			</ul>
		</div>
	</div>

</div>