
@{
	ViewBag.Title = "TinTuc";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Public/css/TinTuc.css" rel="stylesheet" />
<div class="container">

	<div class="row py-2">
		<div class="col-md-6 bg-white text-black" id="bog-1">
			<h1>
				The MilkTea
				ThanhDo
			</h1>
			<p>
				Trong các nghiên cứu tác dụng của trà đến sức khỏe thì trà xanh và trà đen được nghiên cứu nhiều nhất. Cả hai đều được làm từ lá của cây Camellia sinensis nhưng trải qua các phương pháp chế biến khác nhau.
				<br />
				Trà xanh và trà đen rất giàu các hợp chất thực vật gọi là flavonoid. Các hợp chất này hoạt động như chất chống oxy hóa để giúp chống lại tổn thương tế bào tiềm ẩn gây ra bởi các phân tử phản ứng được gọi là gốc tự do. Mức độ gốc tự do cao góp phần gây rabệnh tim, ung thư và các vấn đề sức khỏe khác. Cụ thể, trà xanh rất giàu flavonoid được gọi là catechin, trong khi trà đen có lượng theaflavin cao. Do sự có mặt của các hợp chất này, nên trà xanh và trà đen có liên quan đến huyết áp thấp, tác dụng chống ung thư và giảm mức cholesterol trong cả nghiên cứu trên động vật và con người.
				<br />
				Mặt khác, sữa rất giàu chất dinh dưỡng, chẳng hạn như protein, canxi và kali. Các chất này rất quan trọng cho sự tăng trưởng tối ưu, các thành phần cơ thể và sức khỏe của xương. năm chiến đấu với căn bệnh này.
				<br />
				Hiệu quả của việc thêm sữa vào trà cũng có thể phụ thuộc vào loại trà, nhưng một vài nghiên cứu về chủ đề này chủ yếu tập trung vào trà đen.

				Trà xanh rất giàu flavonoid, về mặt lý thuyết, sữa có thể ảnh hưởng đến các hợp chất trong trà xanh tương tự như cách nó ảnh hưởng đến các hợp chất trong trà đen.
			</p>
		</div>
		<div class="col-md-6">
			<div class="row text-black" id="bog-2">
				<h2 class="text-white justify-content-center py-4">NHÂN VỊ TRÍ CẦN TUYỂN CỦA CỦA HÀNG</h2>
				<div class="col-sm-6 py-3">
					<div class="card py-2">
						<div class="card-body">
							<h5 class="card-title">Pha chế</h5>
							<p class="card-text">
								<b>Loại hình công việc: </b> Lương thỏa thuật theo thời gian<br />
								<b>Yêu cầu:</b> CV, Bằng cấp liên quan<br />
								<b>Quyền lợi</b> Ứng tuyển ngay
							</p>
							<a href="#" class="btn btn-primary">Ứng tuyển này</a>
						</div>
					</div>
				</div>

				<div class="col-sm-6 py-3">
					<div class="card py-2">
						<div class="card-body">
							<h5 class="card-title">Nhân viên Oder</h5>
							<p class="card-text">
								<b>Loại hình công việc: </b> Lương thỏa thuật theo thời gian<br />
								<b>Yêu cầu:</b> CV, Bằng cấp liên quan<br />
								<b>Quyền lợi</b> Ứng tuyển ngay
							</p>
							<a href="#" class="btn btn-primary">Ứng tuyển này</a>
						</div>
					</div>
				</div>

				<div class="col-sm-6 py-3">
					<div class="card py-2">
						<div class="card-body">
							<h5 class="card-title">Nhân viên Shipper</h5>
							<p class="card-text">
								<b>Loại hình công việc: </b> Lương thỏa thuật theo thời gian<br />
								<b>Yêu cầu:</b> CV, Bằng cấp liên quan,Xe máy<br />
								<b>Quyền lợi</b> Ứng tuyển ngay
							</p>
							<a href="#" class="btn btn-primary">Ứng tuyển này</a>
						</div>
					</div>
				</div>

				<div class="col-sm-6 py-3">
					<div class="card py-2">
						<div class="card-body">
							<h5 class="card-title">Nhân việt phục vụ</h5>
							<p class="card-text">
								<b>Loại hình công việc: </b> Lương thỏa thuật theo thời gian<br />
								<b>Yêu cầu:</b> CV, Bằng cấp liên quan<br />
								<b>Quyền lợi</b> Ứng tuyển ngay
							</p>
							<a href="#" class="btn btn-primary">Ứng tuyển này</a>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

</div>