* {
	padding: 0;
	margin: 0;
}
body {
	background-color: black;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-nav {
	width: 15px;
	height:15px;
}

.face {
	text-decoration: none;
}

.size-sp {
	width: 100%;
	height:auto;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
}

	.dropdown-content li {
		list-style: none;
		margin-left: -32px;
		width: 150px;
	}

.dropdown:hover .dropdown-content {
	display: block;
}

.logo-nav {
	width: 70px;
	height:auto;
}

.nav-col-6{
	padding:0px;
}

.img-lyts {
	width: 415px;
	height: 340px;
	background-image: url(../images/img-bog/ava-ly-tra-sua.jpg);
	background-position:center;
	background-repeat: no-repeat;
}
.img-ts {
	width: 415px;
	height: 340px;
	background-image: url(../images/img-bog/tra-xanh.jpeg);
	background-position: center;
	background-repeat: no-repeat;
}
.img-bvmt {
	width: 415px;
	height: 340px;
	background-image: url(../images/img-bog/combo-tui-vai-ong-hut-coc-dung.jpg);
	background-position: center;
	background-repeat: no-repeat;
}