* {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.call-shop input {
	width: 500px;
	height: 50px;
	margin-bottom: 30px;
	border-radius: 10px;
}

.call-shop > button {
	width: 250px;
	height: 50px;
	border-radius: 10px;
}

.call-shop textarea {
	width: 500px;
	height: 200px;
	border-radius: 10px;
	margin-bottom: 10px;
}
